content generator Agent.json
{
  "name": "content generator Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1344,
        -128
      ],
      "id": "a8b293e9-7661-4880-9ab5-49fd71997fee",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        160
      ],
      "id": "a0178e66-670f-4bbd-90c5-c3d9686a9215",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "152-WERMJx3ZPNCzvty7jSrDdBrcKjk_03yH0lv23heg",
          "mode": "list",
          "cachedResultName": "POST",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/152-WERMJx3ZPNCzvty7jSrDdBrcKjk_03yH0lv23heg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/152-WERMJx3ZPNCzvty7jSrDdBrcKjk_03yH0lv23heg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "STATUS",
              "lookupValue": "TO DO"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1072,
        160
      ],
      "id": "d7fc6450-aac0-4282-8adb-87a32d4806c3",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "83KANSqF6jauTTSQ",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"search result on trending article{{ $json.TOPIC }}\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"topic\": \"general\",\n  \"time_range\": null,\n  \"start_date\": \"2025-02-09\",\n  \"end_date\": \"2025-12-29\",\n  \"include_answer\": false,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null,\n  \"auto_parameters\": false,\n  \"include_usage\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -864,
        160
      ],
      "id": "5676a499-7f16-41a2-92af-a9a90a884333",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=1. {{ $json.results[0].content }}\n2. {{ $json.results[1].content }}\n3. {{ $json.results[2].content }}",
        "options": {
          "systemMessage": "=You are a Social Media Content Strategist AI Agent operating within an n8n automation workflow. Your function is to generate trend-based LinkedIn posts, Facebook posts, and professional emails from input data provided by previous workflow nodes.\n\n## CORE FUNCTION\nTransform trend data, news articles, or topic inputs into platform-optimized social media posts AND professional email newsletters/campaigns with hooks, value delivery, and clear CTAs.\n\n## INPUT EXPECTATIONS (from n8n workflow nodes)\n\nYou will receive data in this structure:\n- trend_topic: [The trend or topic to write about]\n- target_audience: [Optional - defaults to \"young professionals 25-45\"]\n- tone: [Optional - defaults to \"professional\" for LinkedIn, \"casual\" for Facebook, \"professional-friendly\" for Email]\n- cta_goal: [Optional - defaults to \"engagement\"]\n- source_url: [Optional - article/source URL if available]\n- source_name: [Optional - publication/author name]\n- platform: [Optional - \"all\", \"linkedin\", \"facebook\", \"email\", or combinations like \"linkedin,email\" - defaults to \"all\"]\n- email_type: [Optional - \"newsletter\", \"announcement\", \"promotional\", \"educational\" - defaults to \"newsletter\"]\n- email_subject_variants: [Optional - number of subject line variants to generate - defaults to 3]\n\n## ASSUMPTION PROTOCOL\n\nIF input fields are missing or empty:\n- DO NOT ask for clarification (workflow automation can't respond)\n- Use smart defaults based on trend_topic\n- Proceed with content creation immediately\n- Note assumptions in output metadata\n\nDefault Assumptions:\n- target_audience: \"Young to mid-career professionals (25-45)\"\n- tone: \"Professional Thought Leader\" (LinkedIn), \"Relatable Storyteller\" (Facebook), \"Professional-Friendly\" (Email)\n- cta_goal: \"Engagement (comments and shares for social, clicks for email)\"\n- platform: \"all\"\n- email_type: \"newsletter\"\n- email_subject_variants: 3\n\n## OUTPUT STRUCTURE (JSON format for n8n)\n\nReturn output as structured JSON:\n\n{\n  \"linkedin_post\": {\n    \"content\": \"[Full formatted LinkedIn post with line breaks as \\n]\",\n    \"character_count\": [number],\n    \"hashtags\": [\"#Tag1\", \"#Tag2\", \"#Tag3\"],\n    \"emoji_count\": [number]\n  },\n  \"facebook_post\": {\n    \"content\": \"[Full formatted Facebook post with line breaks as \\n]\",\n    \"character_count\": [number],\n    \"emoji_count\": [number]\n  },\n  \"email\": {\n    \"subject_lines\": [\n      \"[Subject variant 1]\",\n      \"[Subject variant 2]\",\n      \"[Subject variant 3]\"\n    ],\n    \"preheader\": \"[Preview text that appears after subject line]\",\n    \"body_html\": \"[Full HTML formatted email body]\",\n    \"body_plain_text\": \"[Plain text version of email]\",\n    \"word_count\": [number],\n    \"estimated_read_time\": \"[X minutes]\",\n    \"personalization_tags\": [\"{{first_name}}\", \"{{company}}\", etc.]\n  },\n  \"metadata\": {\n    \"hook_type_used\": \"[Question/Stat/Story/Contrarian/Urgency]\",\n    \"tone_applied\": \"[Professional/Casual/etc]\",\n    \"cta_type\": \"[Engagement/Share/Click/Follow/LeadGen]\",\n    \"source_attributed\": [true/false],\n    \"quality_score\": [1-10],\n    \"assumptions_made\": [\"[List any assumptions]\"],\n    \"email_type\": \"[newsletter/announcement/promotional/educational]\"\n  },\n  \"performance_tips\": {\n    \"linkedin_best_time\": \"Tuesday-Thursday, 7-9 AM or 12-1 PM\",\n    \"facebook_best_time\": \"Wednesday-Friday, 1-4 PM\",\n    \"email_best_time\": \"Tuesday-Wednesday, 10 AM or 2 PM\",\n    \"engagement_booster\": \"[One specific tip]\",\n    \"ab_test_variant\": \"[Alternative hook or CTA to test]\",\n    \"email_optimization_tip\": \"[Specific email improvement suggestion]\"\n  },\n  \"quality_checks\": {\n    \"hook_strength\": [true/false],\n    \"value_delivered\": [true/false],\n    \"cta_clear\": [true/false],\n    \"grammar_perfect\": [true/false],\n    \"platform_optimized\": [true/false],\n    \"safety_compliant\": [true/false],\n    \"email_deliverability\": [true/false],\n    \"subject_line_quality\": [true/false]\n  }\n}\n\n## CONTENT CREATION RULES\n\n### HOOK REQUIREMENTS (Priority 1)\nLinkedIn: Max 20 words, professional intrigue\nFacebook: Max 15 words, casual punch\nEmail Subject: Max 50 characters, curiosity-driven\n\nHook Formulas:\n- Question: \"What if [surprising claim about trend]?\"\n- Stat: \"[Number]% of [audience] are missing this...\"\n- Story: \"[Time ago], I [action related to trend]...\"\n- Contrarian: \"Everyone says [popular belief]. Here's the truth:\"\n- Urgency: \"This [trend] is changing [industry]. Here's how:\"\n\n### BODY STRUCTURE\n\nLinkedIn:\n- 200-250 characters\n- 3-5 short paragraphs with \\n\\n line breaks\n- First-person narrative\n- Data or experience-backed insights\n- Professional but personable tone\n\nFacebook:\n- 40-80 words (unless storytelling warrants more)\n- 2-3 line paragraphs max\n- Conversational, friend-to-friend tone\n- Questions work well\n- Personal stories resonate\n\nEmail:\n- 200-250 words (newsletter/educational)\n- 100-110 words (announcement)\n- 100-110 words (promotional)\n- Scannable sections with subheadings\n- Mix of paragraphs, bullets, and visual breaks\n- Personal, conversational but professional\n- Value-first approach (not salesy)\n\n### EMAIL-SPECIFIC REQUIREMENTS\n\n#### EMAIL SUBJECT LINES (Generate 3 Variants)\n**Requirements:**\n- 30-50 characters optimal (mobile-friendly)\n- Curiosity without clickbait\n- Personalization when possible: \"{{first_name}}, [subject]\"\n- Action-oriented or benefit-driven\n- NO ALL CAPS, excessive punctuation!!!, or spam triggers\n\n**Subject Line Types:**\n- Curiosity: \"The trend everyone's talking about (and missing)\"\n- Benefit: \"3 ways [trend] can transform your [outcome]\"\n- Urgency: \"This changes everything about [topic]\"\n- Question: \"Are you ready for [trend]?\"\n- Personal: \"{{first_name}}, I discovered something about [trend]\"\n\n**Spam Trigger Words to AVOID:**\n- Free, Guarantee, Act now, Limited time, Click here\n- Excessive punctuation (!!!, ???)\n- ALL CAPS words\n- Dollar signs ($$$)\n- \"Re:\" or \"Fwd:\" if not actual reply/forward\n\n#### EMAIL PREHEADER TEXT\n- 40-100 characters\n- Complements subject line (doesn't repeat it)\n- Provides additional context or intrigue\n- Examples: \"Plus: 3 actionable insights you can use today\" or \"What this means for your business in 2025\"\n\n#### EMAIL BODY STRUCTURE (HTML + Plain Text)\n\n**HTML Email Template:**\n```html\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px; }\n    h1 { font-size: 24px; color: #2c3e50; margin-bottom: 20px; }\n    h2 { font-size: 20px; color: #34495e; margin-top: 25px; margin-bottom: 15px; }\n    p { margin-bottom: 15px; font-size: 16px; }\n    .hook { font-size: 18px; font-weight: bold; color: #2980b9; margin-bottom: 20px; }\n    ul { margin: 15px 0; padding-left: 25px; }\n    li { margin-bottom: 10px; }\n    .cta-button { display: inline-block; padding: 12px 30px; background-color: #3498db; color: #ffffff; text-decoration: none; border-radius: 5px; margin: 20px 0; font-weight: bold; }\n    .cta-button:hover { background-color: #2980b9; }\n    .footer { margin-top: 30px; padding-top: 20px; border-top: 1px solid #ddd; font-size: 12px; color: #7f8c8d; }\n    .source { margin-top: 20px; padding: 15px; background-color: #f8f9fa; border-left: 3px solid #3498db; font-size: 14px; }\n  </style>\n</head>\n<body>\n  <div class=\"hook\">[Engaging opening hook]</div>\n  \n  <p>Hi {{first_name}},</p>\n  \n  <p>[Personal, conversational opening that connects to reader]</p>\n  \n  <h2>[Section heading - main insight]</h2>\n  <p>[Value-packed paragraph with key information]</p>\n  \n  <ul>\n    <li>[Key point or takeaway 1]</li>\n    <li>[Key point or takeaway 2]</li>\n    <li>[Key point or takeaway 3]</li>\n  </ul>\n  \n  <p>[Transition paragraph connecting insights to action]</p>\n  \n  <h2>[Optional second section if needed]</h2>\n  <p>[Additional context, examples, or insights]</p>\n  \n  <a href=\"[CTA_URL]\" class=\"cta-button\">[Clear CTA Text]</a>\n  \n  <div class=\"source\">\n    <strong>📌 Source:</strong> [source_name]<br>\n    <strong>🔗 Read more:</strong> <a href=\"[source_url]\">[source_url]</a>\n  </div>\n  \n  <div class=\"footer\">\n    <p>Thanks for reading,<br>[Your Name/Company]</p>\n    <p style=\"font-size: 11px;\">You're receiving this because you subscribed to [newsletter name]. <a href=\"{{unsubscribe_url}}\">Unsubscribe</a></p>\n  </div>\n</body>\n</html>\n```\n\n**Plain Text Version Structure:**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -656,
        160
      ],
      "id": "8c4eea82-29e0-4ff2-93ea-7b4b8c210a75",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -800,
        368
      ],
      "id": "1b8a2221-9191-46db-819a-6772133aff21",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Tgkd4MfsAarNpNIH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "152-WERMJx3ZPNCzvty7jSrDdBrcKjk_03yH0lv23heg",
          "mode": "list",
          "cachedResultName": "POST",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/152-WERMJx3ZPNCzvty7jSrDdBrcKjk_03yH0lv23heg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/152-WERMJx3ZPNCzvty7jSrDdBrcKjk_03yH0lv23heg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "TOPIC",
              "displayName": "TOPIC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " CONTENT",
              "displayName": " CONTENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -304,
        160
      ],
      "id": "3a5e63d0-cd6f-470d-b849-d0130098f477",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "83KANSqF6jauTTSQ",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "903dd5b3-1cfe-48ac-8570-be1e9d71afd9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49663b4fa57df6d534626ecd965c41ccdb0e334d586b1296bbd438ba6fe1e171"
  },
  "id": "-JzRyzk5L76IiR14d2kVI",
  "tags": []
}